//--------------------------------------------------------------
// Editor Styles for New Related Posts
//
// Additional styles necessary to assist the editor.
// Enqueued after style.scss.
//--------------------------------------------------------------

$gray: #efefef;
$light-gray-100: #dedede;

// sass-lint:disable class-name-format, no-qualifying-elements

[data-type="gbs/related-posts"] {
	border: 1px solid $gray;
	font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	height: 19rem;
	position: relative;

  > .related-posts-row {
    flex: 0 0 100%;
    display: flex;
  }

	.related-left-column,
	.related-right-column {
		margin: 0;
		width: 50%;

		h3 {
			background-color: $light-gray-100;
			border-bottom: 1px solid $gray;
			flex: 0 0 50%;
			margin: 0;
			padding: 0.4375rem;
		}

		> ul {
			height: calc(100% - 52px); // compensate for heading.
			margin: 0;
			padding: 0;
      overflow-y: auto;


			li {
				border-bottom: 1px solid $gray;
				font-size: 1rem;
				line-height: 1.125rem;
				list-style: none;
				padding: 0.4375rem;

				&:last-child {
					border-bottom: 0;
				}
			}
		}
	}

	.related-left-column {
		border-right: 1px solid $gray;

		> ul {

			li {

				&.is-selected {
					opacity: 0.5;
					pointer-events: none;
				}
			}
		}
	}

	//-----------------------------------------
	// Loader Position
	//-----------------------------------------
	.wp-block-loader {
		background-color: rgba($light-gray-100, 0.8);
		height: 100%;
		position: absolute;
		width: 100%;

		> img {
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translateX( -50% );
		}
	}

  //-----------------------------------------
  // Form
  //-----------------------------------------
  .related-posts-search-form {
    width: 100%;

    input {
      border-radius: 0;
      border: 1px solid $gray;
      box-sizing: border-box;
      flex: 0 0 100%;
      font-size: 1rem;
      margin: 0 0 -0.0625rem;
      padding: 0.5rem 0.625rem;
      position: relative;
      width: 100%;
      z-index: 100;
    }
  }
}
