//--------------------------------------------------------------
// Editor Styles for Post Title Block
//--------------------------------------------------------------

[data-type='gbs/post-title'] {
	margin: 0 auto;

	.wp-block-post-title {
		font-weight: 500;
		margin: 0 auto;
	}
}
